/* .project_sec {
    display: flex;
    flex-flow: column;
    margin-inline: 1rem;
    flex-basis: auto;
} */

.project_sec {
    display: flex;
    flex-flow: column;
    padding: 1rem;
    color: white;
    border-width: 3px;
    border-style: solid;
    border-image: 
    linear-gradient(
      to bottom, 
      red, 
      var(--main-color)
    ) 1 100%;
}


#project_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
}

#project_h3 {
    display: flex;
    font-size: larger;
    justify-content: flex-start;
    color: var(--secondary-color);
}

.loading_sec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.loading_message {
    color: var(--fourth-color);
    padding-right: 5px;
}

.loader {
    border: 4px solid #f3f3f3;
    /* Light grey */
    border-top: 4px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}